
<button class="btn btn-success" (click)=playRound()>Play Round</button>

<p style="text-align: right;">Total Rounds Played -> {{game.roundsPlayed}}</p>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Round</th>
      <th scope="col">First player</th>
      <th scope="col">Second player</th>
      <th scope="col">Result</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let round of game.rounds; let i = index">
      <th scope="row">{{i+1}}</th>
      <td>{{round.player1Choise}}</td>
      <td>{{round.player2Choise}}</td>
      <td>{{round.result}}</td>
    </tr>
  </tbody>
</table>

<button (click)=restart() class="btn btn-warning">Restart Game</button>
<button routerLink="" class="btn btn-danger">End Game</button>